<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Sourcebuster Js -->
    <script src="https://cdn.jsdelivr.net/npm/sourcebuster@1.1.0/dist/sourcebuster.min.js" crossorigin="anonymous"></script>

    <!-- Ajax Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Page Title -->
    <title>Admin | Registration</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="Travelbeta Signup" />
    <meta name="description" content="Signup to access the best deals on Travelbeta - your preferred online travel agency">
    <meta name="title" content="Signup with Travelbeta - Cheap Flights and Hotel Deals around the world">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--#################################################################################################################-->
    <!-- Style for Setting Body Content Height -->
    <!--#################################################################################################################-->
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body onload="updateDB();">
    <div class="container">

            <div class="text-center col-sm-12">
                <!-- form info --> <div style="font-family: 'Calibri Light', serif; color:orange; font-size: 3.4278em">Admin Portal</div>
                <!-- Home link --> <a href="/adminstrator/users" class="btn btn-block" style="background-color: deepskyblue; border-color: deepskyblue; color:white"><strong>Home</strong></a>
            </div>

            <form class="form-horizontal" th:object="${registrationForm}" th:action="@{/adminstrator}" method="post">
                <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>

                <form class="form-horizontal" th:object="${registrationForm}" th:action="@{/interactions}" method="get" enctype="text/plain">

                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-group col-md-12" th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
                        <div class="col-md-12">
                            <label class="control-label"></label>
                            <input type="text" id="username" name="username" class="form-control"
                                   placeholder="Username" th:field="*{username}" th:errorclass="has-error" onblur="myFunction()" value="" required="required" onclick="hideErrorMessage()"/>
                            <p class="errorDiv" id="interactionsUsername"></p>
                        </div>
                    </div>

                    <div class="form-group col-md-12" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                        <div class="col-md-12">
                            <label class="control-label"></label>
                            <input type="email" id="email" name="email" autocomplete="on" class="form-control"
                                   placeholder="Email Address" th:field="*{email}" th:errorclass="has-error" onblur="myFunction()" value="" required="required" onclick="hideErrorMessage()"/>
                            <p class="errorDiv" id="interactionsEmail"></p>
                        </div>
                    </div>

                    <div class="form-group col-md-12" th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                        <div class="col-md-12">
                            <label class="control-label"></label>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Password (6 characters minimum) " th:field="*{password}" th:errorclass="has-error" onblur="myFunction()" value="" required="required" onclick="hideErrorMessage()"/>
                            <p class="errorDiv" id="interactionsPassword"></p>
                        </div>
                    </div>

                    <div class="form-group col-md-12" th:class="${#fields.hasErrors('passwordSalt')} ? 'form-group has-error' : 'form-group'">
                        <div class="col-md-12">
                            <label class="control-label"></label>
                            <input type="password" id="passwordSalt" name="passwordSalt" class="form-control"
                                   placeholder="Confirm Password" th:field="*{passwordSalt}" th:errorclass="has-error" onblur="myFunction()" value="" required="required" onclick="hideErrorMessage()"/>
                            <p class="errorDiv" id="interactionsPasswordSalt"></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="control-label"></label>
                        <input id="submit" type="submit" class="btn btn-block" style="background-color: deepskyblue; border-color: deepskyblue; color:white" value="REGISTER ACCOUNT"/>
                        <a href="/auth/login" class="btn btn-block" style="background-color: deepskyblue; border-color: deepskyblue; color:white"><strong>ACCOUNT LOGIN</strong></a>
                    </div>

                </form>
            </form>
            <br>
            <div class="col-sm-12">
                <footer class="form-group site-footer">
                    <div class="site-footer-legal">© 2019
                        <a href="www.travelbeta.com">Travelbeta</a>
                    </div>
                    <div class="form-group site-footer-right">
                        <div class="form-group site-footer-right">
                            Powered by <a href="www.travelbeta.com">Travelbeta.com Limited </a>
                        </div>
                    </div>
                </footer>
            </div>
    </div>
    <!--    &lt;!&ndash;#################################################################################################################&ndash;&gt;-->
    <!--    &lt;!&ndash; INPUT OTHER SCRIPTS HERE &ndash;&gt;-->
    <!--    &lt;!&ndash;#################################################################################################################&ndash;&gt;-->
    <!--    &lt;!&ndash; Popper.js &ndash;&gt;-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
    <!--    &lt;!&ndash; Bootstrap.js  &ndash;&gt;-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--
        Sourcebuster.js implementation
    -->
    <script type="text/javascript">
        var sbObj = null;

        function initialiseSBJS() {

            sbjs.init({
                lifetime: 6,
                domain: {
                    host: 'localhost:8080',
                    isolate: true
                },
                referrals: [
                    {
                        host: 'plus.url.google.com',
                        display: 'plus.google.com :)'
                    },
                    {
                        host: 'blog.localhost:8080',
                        display:'localhost'
                    }
                ],
                custom_campaign: 'my_adwords_campaign',
                promocode: true,
                callback: placeData
            });
        }

        function placeData(sb) {
            sbObj = sb;
            console.log('*** CURRENT USER INFO ***');
            console.log('Type, Source, Medium, Campaign, Content, Term');
            console.log(sb.current);
            console.log('Date & Time of Visit, Entrance Point, Referer URL');
            console.log(sb.current_add);
            console.log('No. of Pages Visited, Current Page URL');
            console.log(sb.session);
            console.log('No. of Times Visited, IP-Address, Current User-Agent(Browser)');
            console.log(sb.udata);
            console.log('User Promo Code');
            console.log(sb.promo);
        }

        function buildSBJSObject() {
            return {
                "type": sbObj.current.typ,
                "source": sbObj.current.src,
                "medium": sbObj.current.mdm,
                "cmp": sbObj.current.cmp,
                "cnt":sbObj.current.cnt,
                "trm":sbObj.current.trm
            };
        }


        $(document).ready(function() {

            initialiseSBJS();

            <!-- On-Load Event: "Record Number of Page-Loadings" -->
            $(function updateDB() {
                var signUpPage = buildSBJSObject();
                $.ajax({
                    type: "POST",
                    url: "/adminstrator.htm",
                    data: signUpPage,
                    context: document.body,
                    success: function() {
                        console.log("SignUp Page: Loaded");
                    }
                });
            });
        });
        <!-- ################################################################################################################-->
        <!-- Hide Error Messages on Page -->
        <!-- ################################################################################################################-->
        function hideErrorMessage(){
            if(jQuery('#errorDiv').is(':visible')){
                jQuery('#errorDiv').hide();
            }
        }
        <!-- ################################################################################################################-->
        <!-- Password Verification -->
        <!-- ################################################################################################################-->
        var password 	 = document.getElementById("password"),
            passwordSalt = document.getElementById("passwordSalt");

        function validatePassword() {
            if (password.value.length < 6) {
                password.setCustomValidity("Password must be 6 characters minimum");
            } else {
                password.setCustomValidity('');
            }

            if(password.value !== passwordSalt.value) {
                passwordSalt.setCustomValidity("Passwords Don't Match");
            } else {
                passwordSalt.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        passwordSalt.onkeyup = validatePassword;
    </script>
    <!--
        Interactions: "On-Blur" Event!
    -->
    <script>
        $("#username").blur(function myFunction() {
            var val = $(this).val();
            console.log("Updating Username...");

            $.ajax({
                type: "GET",
                url: "/interactions",
                data: { username: val },
                success: function() {
                    console.log('Username: ' + val);

                }
            });
        });
        $("#email").blur(function myFunction() {
            var val = $(this).val();
            console.log("Updating Email Address...");

            $.ajax({
                type: "GET",
                url: "/interactions",
                data: { email: val },
                success: function() {
                    console.log('Email Address: ' + val);
                }
            });
        });
        $("#password").blur(function myFunction() {
            var val = $(this).val();
            console.log("Updating Password...");

            $.ajax({
                type: "GET",
                url: "/interactions",
                data: { password: val },
                success: function() {
                    console.log('Password: ' + val);
                }
            });
        });
        $("#passwordSalt").blur(function myFunction() {
            var val = $(this).val();
            console.log("Confirming Password...");

            $.ajax({
                type: "GET",
                url: "/interactions",
                data: { passwordSalt: val },
                success: function() {
                    console.log('Password Confirmed: ' + val);
                }
            });
        });

    </script>
    <!--
        Interactions: "On-Blur" Event Function!
    -->
    <script>
        function myFunction() {

            var ajaxRequest;

            if (window.XMLHttpRequest) {
                ajaxRequest = new XMLHttpRequest();
            } else {
                ajaxRequest = new ActiveXObject("Microsoft.XMLHttpRequest");
            }

            ajaxRequest.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {

                    var username = document.getElementById("username").value;
                    document.getElementById("interactionsUsername").innerHTML = "You wrote: " + username;

                    var email = document.getElementById("email").value;
                    document.getElementById("interactionsEmail").innerHTML = "You wrote: " + email;

                    var password = document.getElementById("password").value;
                    document.getElementById("interactionsPassword").innerHTML = "You wrote: " + password;

                    var passwordSalt = document.getElementById("passwordSalt").value;
                    document.getElementById("interactionsPasswordSalt").innerHTML = "You wrote: " + passwordSalt;
                }
            };

            ajaxRequest.open("GET", "/interactions", true);
        }
    </script>
</body>
    <!--
        On-Load: updateDB() Function
    -->
    <script>
        function updateDB() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/adminstrator.htm", true);
        }
    </script>
</html>