<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Sourcebuster Js -->
    <script src="https://cdn.jsdelivr.net/npm/sourcebuster@1.1.0/dist/sourcebuster.min.js"  crossorigin="anonymous"></script>

    <!-- Ajax Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- APP | PAGE NAME -->
    <title>User Portal</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body onload="updateDB();">
    <div class="container-fluid">

        <div class="text-center" style="font-family: 'Calibri Light', serif; color:orange; font-size: 3.2278em">User Portal </div>

        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">S/N: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.id}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Title: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.title}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Firstname: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.firstname}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 sm-2 control-label">Lastname: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.lastname}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Telephone: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.phoneNumber}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">D.o.B: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.dateOfBirth}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.gender}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Username: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.username}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 sm-2 control-label">E-mail: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.email}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 sm-2 control-label">Date Created: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.dateCreated}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 sm-2 control-label">ENABLED: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.enabled}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 sm-2 control-label">ROLE TYPE: </label>
                    <div class="col-lg-10">
                        <p class="form-control-static" th:text="${travelbetadmin.role.getName()}"></p>
                    </div>
                </div>

                <div class="col-lg-8">
                    <a class="btn" href="/adminstrator/users">BACK</a>
                </div>
                <style>
                    a.btn {
                        width: 150px;
                        padding: 10px;
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 80%;
                        background: deepskyblue;
                        color: #fff;
                        border: deepskyblue;
                        border-radius: 10px;
                    }
                    a.btn:hover {
                        color: black;
                        background: deepskyblue;
                        border: deepskyblue;
                    }
                </style>
                <br>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var sbObj = null;

        function initialiseSBJS(){
            sbjs.init({
                lifetime: 6,
                domain: {
                    host: 'localhost:8080',
                    isolate: true
                },
                referrals: [
                    {
                        host: 'plus.url.google.com',
                        display: 'plus.google.com :)'
                    },
                    {
                        host: 'blog.localhost:8080',
                        display:'localhost'
                    }
                ],
                custom_campaign: 'my_adwords_campaign',
                promocode: true,
                callback: placeData
            });
        }

        function placeData(sb) {
            sbObj = sb;
            console.log('*** CURRENT USER INFO ***');
            console.log('Type, Source, Medium, Campaign, Content, Term');
            console.log(sb.current);
            console.log('Date & Time of Visit, Entrance Point, Referer URL');
            console.log(sb.current_add);
            console.log('No. of Pages Visited, Current Page URL');
            console.log(sb.session);
            console.log('No. of Times Visited, IP-Address, Current User-Agent(Browser)');
            console.log(sb.udata);
            console.log('User Promo Code');
            console.log(sb.promo);

        }


        function buildSBJSObject() {
            return {
                "type": sbObj.current.typ,
                "source": sbObj.current.src,
                "medium": sbObj.current.mdm,
                "cmp": sbObj.current.cmp,
                "cnt":sbObj.current.cnt,
                "trm":sbObj.current.trm
            };
        }


        $(document).ready(function(){

            initialiseSBJS();

            $(function updateDB() {
                var pageLoad = buildSBJSObject();

                $.ajax({
                    type: "POST",
                    url: "/adminstrator.htm",
                    data: pageLoad,
                    context: document.body,
                    success: function() {
                        console.log("Viewing User Portal");
                    }
                });
            });
        });
    </script>

    <!--<script>-->
    <!--    sbjs.init({-->
    <!--        lifetime: 3,-->
    <!--        domain: {-->
    <!--            host: 'localhost:8080',-->
    <!--            isolate: true-->
    <!--        },-->
    <!--        referrals: [-->
    <!--            {-->
    <!--                host: 'plus.url.google.com',-->
    <!--                display: 'plus.google.com :)'-->
    <!--            },-->
    <!--            {-->
    <!--                host: 'localhost:8080',-->
    <!--                display:'localhost'-->
    <!--            },-->
    <!--        ],-->
    <!--        custom_campaign: 'my_adwords_campaign',-->
    <!--        promocode: true,-->
    <!--        //callback: placeData-->
    <!--        callback: placeData-->
    <!--    });-->

    <!--    function placeData(sb) {-->
    <!--        console.log(sb.current.src);-->
    <!--        console.log(sb.current.typ);-->
    <!--        console.log(sb.current.mdm);-->
    <!--        console.log(sb.current.cmp);-->
    <!--        console.log(sb.current.cnt);-->
    <!--        console.log(sb.current.trm);-->
    <!--        console.log(sb.current.src);-->
    <!--        console.log(sb.current.src);-->
    <!--    }-->

    <!--    sbjs.init({ callback: logSource });-->

    <!--     function placeData(sb) {-->
    <!--        console.log(sb.current.src);-->
    <!--        document.getElementById('sb_first_typ').innerHTML       = sb.first.typ;-->
    <!--        document.getElementById('sb_first_src').innerHTML       = sb.first.src;-->
    <!--        document.getElementById('sb_first_mdm').innerHTML       = sb.first.mdm;-->
    <!--        document.getElementById('sb_first_cmp').innerHTML       = sb.first.cmp;-->
    <!--        document.getElementById('sb_first_cnt').innerHTML       = sb.first.cnt;-->
    <!--        document.getElementById('sb_first_trm').innerHTML       = sb.first.trm;-->

    <!--        document.getElementById('sb_current_typ').innerHTML     = sb.current.typ;-->
    <!--        document.getElementById('sb_current_src').innerHTML     = sb.current.src;-->
    <!--        document.getElementById('sb_current_mdm').innerHTML     = sb.current.mdm;-->
    <!--        document.getElementById('sb_current_cmp').innerHTML     = sb.current.cmp;-->
    <!--        document.getElementById('sb_current_cnt').innerHTML     = sb.current.cnt;-->
    <!--        document.getElementById('sb_current_trm').innerHTML     = sb.current.trm;-->

    <!--        document.getElementById('sb_first_add_fd').innerHTML    = sb.first_add.fd;-->
    <!--        document.getElementById('sb_first_add_ep').innerHTML    = sb.first_add.ep;-->
    <!--        document.getElementById('sb_first_add_rf').innerHTML    = sb.first_add.rf;-->

    <!--        document.getElementById('sb_current_add_fd').innerHTML  = sb.current_add.fd;-->
    <!--        document.getElementById('sb_current_add_ep').innerHTML  = sb.current_add.ep;-->
    <!--        document.getElementById('sb_current_add_rf').innerHTML  = sb.current_add.rf;-->

    <!--        document.getElementById('sb_session_pgs').innerHTML     = sb.session.pgs;-->
    <!--        document.getElementById('sb_session_cpg').innerHTML     = sb.session.cpg;-->

    <!--        document.getElementById('sb_udata_vst').innerHTML       = sb.udata.vst;-->
    <!--        document.getElementById('sb_udata_uip').innerHTML       = sb.udata.uip;-->
    <!--        document.getElementById('sb_udata_uag').innerHTML       = sb.udata.uag;-->

    <!--        document.getElementById('sb_promo_code').innerHTML      = sb.promo.code-->

    <!--         var trafficType = sbjs.get.current.utm;-->
    <!--          console.log(trafficType);-->
    <!--    }-->
    <!--</script>-->
</body>
    <!--
        On-Load Function
    -->
    <script>
        function updateDB() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/adminstrator.htm", true);
        }
    </script>
</html>